*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    font-family: consolas;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* background: #333; */
    /* box-shadow: 0 15px 25px #000; */
    border-radius: 10px;
    overflow: hidden;
    text-align: start !important;
}

.weather{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
   
    
    border-radius: 10px;
    overflow: hidden;
}

.result{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    gap: 20px;
    padding: 20px;
   
   
    border-radius: 10px;
    overflow: hidden;
}